* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}
body {
    background-color: #000;
    color: #fff;

}
a {
        color: #fff;
        text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}    

main {
    margin: 1rem;
    padding: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}


main::before, main::after {
    content: '';
    background: radial-gradient(circle, rgba(8,6,37,1) 0%, rgba(43,43,92,1) 35%, rgba(3,10,11,1) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    width: 2560px;
    height: 1964px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
main::after {
    content: '';
    top: auto;
    left: auto;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        max-width: 1024px;
        margin: 1rem auto;
    }
    .cabecalho::before, .cabecalho::after  {
        width: 70vw;
    }

}